{% include 'adminheader.html' %}

<section id="hero" class="d-flex align-items-center" style="height: 1000px;   background: url('/static/assets/img/hero-img2.jpg'); background-size: cover; background-repeat: no-repeat;">

    <div class="container">
<center>
<form action="" method="post" style="margin-top: 80px;">
    <table>
      <tr>
            <th style="font-size: 25px; color: white;">Department  </th>
    
            <td><select name="dept" id="" class="form-control">
                <option value="">Select</option>

                  {% for row in data['dpt'] %}
                  <option value="{{row['dept_id']}}">{{row['d_name']}}</option>
                  {% endfor %}
            </select></td>
        </tr>
        <tr>
            <th style="font-size: 25px;">Fee  </th>
    
            <td><input type="text" name="fee" class="form-control"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="submit" value="Add" class="btn-get-started a"></td>
        </tr>
    </table>
</form>

{% if data['res'] %}

<table align="center" style="text-align: center; backdrop-filter: blur(500px); margin-top: 100px;">

            <tr class="tr">
                <th>Sl.</th>
                <th>Department</th>
                <th>Fee</th>
            </tr>
            {% for row in data['res'] %}
            <tr class="tr">
                <td>{{loop.index}}</td>
                <td>{{row['d_name']}}</td>
                <td>{{row['fee']}}</td>
   </tr>
   {%endfor%}
   </table>
</center>
</div>
</section>
<style>
    th,
    td {
        font-size: 20px;
        padding: 15px;
    }

    th{
        color:rgb(0, 0, 0);
    }
    td{
        color:rgb(255, 255, 255);
    }
 
</style>
{%endif%}
      
{% include 'footer.html' %}