{%include 'faculty_header.html'%}
<section id="hero" class="d-flex align-items-center" style="height: 1000px;   background: url('/static/assets/img/hero-img2.jpg'); background-size: cover; background-repeat: no-repeat;">

    <div class="container"> 
        <center>
<form action="" method="post">
<table style="margin-top: 130px;backdrop-filter: blur(50px);">
    <tr>
        <th style="font-size: 25px; color: white;"  >Date</th>
        <td><input type="date" name="date" id="" class="form-control" ></td>
    </tr>
    <tr>
        <th style="font-size: 30px; color: rgba(255, 255, 255, 0.899);">Reason</th>
        <td><textarea name="reason" id="" cols="10" rows="7" class="form-control"></textarea></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" name="submit" value="Apply" id="" class="btn btn-info"></td>
    </tr>

</table>
</form>
</center>
<center>
{%if data['res']%}
<table   align="center" style="text-align: center;backdrop-filter: blur(50px);">

<tr>
    <th style="color: black ; background-color: rgba(255, 255, 255, 0.419);">Sl no</th>
    <th style="color: black ; background-color: rgba(255, 255, 255, 0.419);">Date</th>
    <th style="color: black ; background-color: rgba(255, 255, 255, 0.419);">Reason</th>
    <th style="color: black ; background-color: rgba(255, 255, 255, 0.419);">Status</th>
</tr>


{%for i in data['res']%}
<tr>
    <td>{{loop.index}}</td>
    <td>{{i['date']}}</td>
    <td>{{i['reason']}}</td>
    <td>{{i['status']}}</td>
</tr>
{%endfor%}

</table>
</center>

</div>
</section>
<style>
    th,td{
        padding: 15px;
        color: black;
    }
    th{
        color: black;
       
    }
    td{
        color: rgba(255, 255, 255, 0.674);
    }
  
</style>
{%endif%}
<br><br><br><br><br>
{%include 'footer.html'%}